<h1 class="text-center">Cadastro de Clientes</h1>


<div class="container">
  <hr />
  <form>

    <div class="form-group">
      <label>Nome: </label>
      <input type="text" class="form-control" name="nome" formControlName="nome">
    </div>
    <div class="form-group">
      <label>E-mail: </label>
      <input type="text" class="form-control" name="email" formControlName="email">
    </div>
    <div class="form-group">
      <label>Telefone: </label>
      <input type="text" class="form-control" name="telefone" formControlName="telefone">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Cadastrar</button>
    </div>
  </form>

</div>